* text=auto
*.dart text eol=lf
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
ai_models/symptom_checker/artifacts/trained_models/random_forest_symptom_checker.pkl filter=lfs diff=lfs merge=lfs -text
